.table th,
.table td {
    vertical-align: middle;
    text-align: center;
}
.btn-custom {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}
.btn-history {
    background-color: #ffc107;
    color: white;
}
.btn-delete {
    background-color: #dc3545;
    color: white;
}
.input-group-text {
    font-weight: 500;
}
.filter-section {
    margin-bottom: 20px;
}
.filter-btns {
    display: flex;
    gap: 10px;
}
.action-buttons {
    display: flex;
    justify-content: space-around;
}
.btn.btn-primary {
    border-color: #ff6723;
    background-color: #ff6723;
    color: white;
}
.pagination-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#currentTime {
    padding: 6px;
    border-radius: 5px;
    font-weight: 700;
    color: #ef7f1f;
}

.username {
    color: #ef7f1f;
    font-weight: 700;
}

.modal-content {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    background-color: #fff;
}

.modal-header {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.modal-title {
    font-weight: bold;
    font-size: 18px;
}

.modal-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
}

.btn-dark {
    background-color: #333;
    border-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}
.custom_shadow {
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0 1px 20px 0px #00000040;
}
.btn-secondary {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}
.text-danger {
    font-size: 0.875em;
}
td {
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}
.departments {
    background: #ff6723;
    padding: 4px;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}
